<div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 wow fadeInUp delay-0-4s">
    <div class="product-item">
        <div class="product-image">
            <span class="off">25% تخفیف</span>
            <img src="/static/images/shop/product1.png" alt="Products">
            <a href="contact.html" class="cart-btn">خرید اشتراک</a>
        </div>
        <div class="product-content">
            <h6><a href="product-details.html">{{ product.title }}</a></h6>
            <span class="category">{{  product.short_description}}</span>
            <div class="ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span class="price"><del>{{  product.price }}</del><span>{{ product.price }}</span></span>
        </div>
    </div>
</div>
