<!-- Footer Area Start -->
<footer class="main-footer bg-blue">
    <div class="container">
        <div class="footer-newsletter br-10 bg-lighter">
            <div class="row">
                <div class="col-lg-6">
                    <div class="newsletter-video bgs-cover overlay wow fadeInLeft delay-0-2s"
                         style="background-image: url(/static/images/video/footer-video-bg.jpg);">
                        <a href="https://www.youtube.com/watch?v=9Y7ma241N8k" class="mfp-iframe video-play"><i
                                class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="newsletter-content wow fadeInRight delay-0-2s">
                        <div class="section-title mb-20">
                            <span class="sub-title-two">Newsletters</span>
                            <h2>Get Our Every Single Notifications</h2>
                        </div>
                        <form class="newsletter-form mt-25" action="#">
                            <div class="newsletter-radios mb-25">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="hero-wekly" name="example1"
                                           checked="">
                                    <label class="custom-control-label" for="hero-wekly">Regular Updates</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="hero-monthly" name="example1">
                                    <label class="custom-control-label" for="hero-monthly">Weekly Updates</label>
                                </div>
                            </div>
                            <div class="newsletter-email">
                                <label for="email"><i class="far fa-envelope"></i></label>
                                <input id="email" type="email" placeholder="Enter Email" required="">
                                <button type="submit" class="theme-btn style-two">sign up <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between text-white pt-75">
            <div class="col-lg-3 col-sm-3 d-flex justify-content-start">
                <div class="footer-widget about-widget">
                    <h5 class="footer-title d-flex">درباره ما</h5>
                    <p class="d-flex text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                        است </p>
                    <h5 class="pt-5 d-flex">ما را دنبال کنید</h5>
                    <div class="social-style-one d-flex ">
                        <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                        <a href="contact.html"><i class="fab fa-twitter"></i></a>
                        <a href="contact.html" class="ml-2"><i class="fab fa-linkedin-in"></i></a>
                        <a href="contact.html"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 d-flex justify-content-start">
                <div class="footer-widget menu-widget">
                    <h5 class="footer-title d-flex">دوره های آموزشی</h5>
                    <ul>
                        {% for category in categories %}
                            <li class="d-flex justify-content-start"><a
                                    href="#">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 d-flex justify-content-start">
                <div class="footer-widget menu-widget">
                    <h5 class="footer-title d-flex">شرکای ما</h5>
                    <ul>
                        <li class="d-flex justify-content-start"><a href="contact.html">سما</a></li>
                        <li class="d-flex justify-content-start"><a href="contact.html">دانشگاه آزاد</a></li>
                        <li class="d-flex justify-content-start"><a href="contact.html">مرکز رشد دانشگاه آزاد</a></li>
                        <li class="d-flex justify-content-start"><a href="contact.html">آموزش و پرورش </a></li>
                        <li class="d-flex justify-content-start"><a href="contact.html">کادوسه</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 d-flex justify-content-start">
                <div class="footer-widget contact-info-widget">
                    <h5 class="footer-title d-flex">در تماس باشید</h5>
                    <ul>
                        <li class="text-justify"><i class="fas fa-map-marker-alt"></i>میدان پروین اعتصامی،خیابان پروین اعتصامی،مرکز رشد
                            دانشگاه آزاد اسلامی واحد زنجان
                        </li>
                        <li class="text-justify"><i class="far fa-envelope"></i> <a
                                href="mailto:support@gmail.com">support@gmail.com</a></li>
                        <li class="text-justify"><i class="fas fa-phone"></i> <a href="callto:+02433779031">024-33779031</a></li>
                        <li class="text-justify"><i class="far fa-clock"></i>شنبه - پنج شنبه،<br> 17 - 8</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area bg-dark-blue text-white rel">
        <div class="container">
            <div class="copyright-inner">
                <p>  تمامی حقوق این سایت رسکا © 2022 تعلق است. </p>
                <ul class="footer-menu">
                    <li><a href="contact.html">لینک ها</a></li>
                    <li><a href="about.html">درباره ما</a></li>
                </ul>
            </div>
        </div>
        <!-- Scroll Top Button -->
        <button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-double-up"></span>
        </button>
    </div>
</footer>
<!-- Footer Area End -->