{% extends 'master.html' %}
{% block title %}
    {{ product.title }}
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Rate</th>
            <th scope="col">Desc</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{  product.title }}</th>
            <td>{{  product.price }}</td>
            <td>{{  product.rating }}</td>
            <td>{{  product.short_description }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}