<!--====== Jquery ======-->
<script src="/static/js/jquery-3.6.0.min.js"></script>
<!--====== Bootstrap ======-->
<script src="/static/js/bootstrap.min.js"></script>
<!--====== Appear Js ======-->
<script src="/static/js/appear.min.js"></script>
<!--====== Slick ======-->
<script src="/static/js/slick.min.js"></script>
<!--====== jQuery UI ======-->
<script src="/static/js/jquery-ui.min.js"></script>
<!--====== Isotope ======-->
<script src="/static/js/isotope.pkgd.min.js"></script>
<!--====== Circle Progress bar ======-->
<script src="/static/js/circle-progress.min.js"></script>
<!--====== Images Loader ======-->
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<!--====== Nice Select ======-->
<script src="/static/js/jquery.nice-select.min.js"></script>
<!--====== Magnific Popup ======-->
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<!--  WOW Animation -->
<script src="/static/js/wow.min.js"></script>
<!-- Custom script -->
<script src="/static/js/script.js"></script>