 <!-- main header -->
    <header class="main-header header-four">
        <!-- Header-Top -->
        <div class="header-top bg-light-blue text-white">
            <div class="container-fluid">
                <div class="top-inner">
                    <div class="top-left">
                        <p class="p-2"><i class="fas fa-phone"></i> <b>Hotline</b> : <a href="callto:+012(345)6789">+012 (345) 67
                            89</a></p>
                        <p class="p-2"><i class="far fa-clock"></i> <b>Working Hours</b> : Manday - Friday, 08am - 05pm</p>
                    </div>
                    <div class="top-right d-flex align-items-center">
                        <ul class="top-menu">
                            <li><a href="about.html">تنظیمات و حریم خصوصی</a></li>
                            <li><a href="faqs.html">پرسش و پاسخ</a></li>
                            <li><a href="about.html">درباره ما</a></li>
                        </ul>
                        <div class="social-style-two">
                            <a href="contact.html"><i class="fab fa-twitter"></i></a>
                            <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                            <a href="contact.html"><i class="fab fa-instagram ml-4"></i></a>
                            <a href="contact.html"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header-Upper -->
        <div class="header-upper">
            <div class="container-fluid clearfix">

                <div class="header-inner d-flex align-items-center justify-content-between">
                    <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="/static/images/logos/logo-three.png" alt="Logo"
                                                                    title="Logo"></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-header">
                                <div class="mobile-logo">
                                    <a href="index.html">
                                        <img src="/static/images/logos/logo-three.png" alt="Logo" title="Logo">
                                    </a>
                                </div>

                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown current"><a href="#">خانه</a>
                                        <ul>
                                            <li><a href="index.html">خانه 1</a></li>
                                            <li><a href="index2.html">خانه 2</a></li>
                                            <li><a href="index3.html">خانه 3</a></li>
                                            <li class="current"><a href="index4.html">خانه 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li class="dropdown"><a href="#">آموزش ها و دوره ها</a>
                                        <ul>
                                            <li><a href="course-grid.html">دوره مالی</a></li>
                                            <li><a href="course-list.html">دوره پریمیر</a></li>
                                            <li><a href="course-timeline.html">دوره افترافکت</a></li>
                                            <li><a href="course-details.html">دوره فتوشاپ</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">صفحات</a>
                                        <ul>
                                            <li><a href="faqs.html">پرسش و پاسخ</a></li>
                                            <li class="dropdown"><a href="#">فروشگاه</a>
                                                <ul>
                                                    <li><a href="shop.html">صفحه محصولات</a></li>
                                                    <li><a href="product-details.html">صفحه جزئیات</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">اساتید</a>
                                                <ul>
                                                    <li><a href="instructors.html">همه اساتید</a></li>
                                                    <li><a href="become-instructor.html">استاد شوید</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="gallery.html">گالری</a></li>
                                            <li><a href="pricing.html">طرح قیمت گذاری</a></li>
                                            <li><a href="{% url 'contact_us' %}">تماس با ما</a></li>
                                            <li><a href="404.html">صفحه خطای 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">بلاگ</a>
                                        <ul>
                                            <li><a href="blog.html">صفحه بلاگ</a></li>
                                            <li><a href="blog-details.html">جزئیات بلاگ</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                        <!-- Main Menu End-->
                    </div>

                    <!-- Menu Button -->
                    <div class="menu-btns d-lg-flex d-none align-items-center">
                        <a href="contact.html" class="theme-btn ">ورود<i class="fas fa-arrow-right"></i></a>
{#                        <select name="select-languages" id="select-languages">#}
{#                            <option value="English">فارسی</option>#}
{#                            <option value="Chinese">چینی</option>#}
{#                            <option value="Arabic">عربی</option>#}
{#                        </select>#}
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
    </header>
    <!--End Hidden Sidebar -->